<h1>Congrats <%= @musician.name %></h1>

<h2><%= @campaign_name %> was successfully created </h3>

<p>You're on the way to fan enlightenment. All you have to do now is share this awesome track with the very best of your fans, we'll take care of the rest ;)</p>

<p>Headblendr, help your fans help you launch</p>
<p>Headblendr Team</p>
