<h1>Wow, that was fast.</h1>
<h2>
  You have successfuly launched <%= @campaign_name %>!!
  We are so damn proud of you!
</h2>

<p>Keep up the good work!</p>

<p>We love you</p>
<p>Headblendr, help your fans help you launch</p>
<p>Headblendr Team</p>
