<h1>Wow, that was fast. You successfully launched <%= @campaign.name %>'s track!</h1>
<p>
Here's your well deserved download link!</p>
<p><%= @campaign.track_permalink %></p>
<p>
You can also listen to it from anywhere by visiting www.headblendr.com/launchbase
</p>

<p>We love you</p>
<p>Headblendr, help your fans help you launch</p>
<p>Headblendr Team</p>