<%= content_for(:extra_body_classes, 'background-light sidebar-hidden frontpage') %>
<div class="wrap "  >
    <div class="content container-fluid">
<div class="row-fluid">
            <div class="span12 text-align-center boxfans">
                <div class="span12  text-align-center">
                <h3>We are a team of three</h3>
                <h3>with the passion of millions</h3>
                <h3>contact us at support@headblendr.com</h3>
</div>
<div class=" text-align-center">
    
<%= image_tag "hbteam.jpg", class: "text-align-center" %>
</div>


￼            </div>
        </div>
      
        </div>
        
       

    </div>
    
</div>