<%= content_for(:extra_body_classes, 'background-light sidebar-hidden frontpage') %>
<div class="wrap "  >
    <div class="content container-fluid">
<div class="row-fluid">
            <div class="span12 text-align-center boxfans">
                <div class="span12  text-align-center">
                <h3>fans decide when music gets released</h3>
                <h3>the more they share</h3>
                <h3>the faster it gets released</h3>
                <h3>feel part of something awesome</h3>
</div>
<div class=" text-align-center">
    
<%= image_tag "musicshow.png", class: "text-align-center" %>
</div>


￼            </div>
        </div>
      
        </div>
        
       

    </div>
    
</div>