<%= content_for(:extra_body_classes, 'background-light sidebar-hidden frontpage') %>
<div class="wrap "  >
    <div class="content container-fluid">
<div class="row-fluid">
            <div class="span12 text-align-center boxfans">
                <div class="span12  text-align-center">
                <h3>musicians get to grow their fanbase fast</h3>
                <h3>get real time metrics of what's important</h3>
                <h3>build a strong fan mailing list</h3>
                <h3>make fans feel part of something special</h3>
</div>
<div class=" text-align-center">
    
<%= image_tag "musicianshow.png", class: "text-align-center" %>

</div>


￼            </div>
        </div>
      
        </div>
        
       

    </div>
    
</div>