<section class="widget">
  <header>
    <h4><i class="icon-user"></i> Fan Profile</h4>
  </header>
  <div class="body">
    <div class="form-horizontal label-left">
      <div class="row-fluid">
        <div class="span4">
          <div class="text-align-center">
            <%= image_tag fan.avatar %>
          </div>
        </div>
        <div class="span8">
          <h3 class="no-margin"><%= fan.name %></h3>
          <h5>Joined
            <small>
              <%= time_ago_in_words fan.created_at %>
              ago
            </small>
          </h5>
        </div>
        <div class="span8">
           <%= button_to 'Delete user account',
             user_registration_path, method: :delete, confirm: "If you delete, all your reservations will be lost, are you sure?" %>
         </div>
      </div>
    </div>
  </div>
</section>
