<% content_for(:extra_body_classes, 'background-light sidebar-hidden') %>
  <div class="wrap" id="home">
    <div class="content container-fluid">
      <div class="row-fluid">
        <div class="span6">
          <%= render 'fan_profile' %>
        </div>
        <div class="span6">
          <% if current_user.musician? %>
            <%= render 'musician_profile', profile: @musician.soundcloud_account %>
          <% else %>
            <div class="span8">
              <%= link_to 'Connect your Soundcloud account',
                 soundcloud_connect_path,
                 class: "btn btn-primary btn-large" %>
             </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
