
  <li class="span3 ">
                <div class="caption">
                    <p><%= link_to truncate(campaign.name, length: 25),
        campaign_path(campaign) %> </br> <small><span class="signupblue"><strong><%= truncate(campaign.musician_name, length: 20) %> | <%= link_to truncate(campaign.musician.soundcloud_account.soundcloud_username, length: 20), musician_path(campaign.musician) %> </strong></span></small></p>

                  </div>
                <a href="#" class="thumbnail">
                  <%= image_tag campaign.artwork_for_track %>
                </a>
              </li>

