<nav id="sidebar" class="sidebar nav-collapse collapse">
  <ul id="side-nav" class="side-nav">
    <li class="active"><a href="#">Category Filter</a></li>
    <li><a href="#">All categories</a></li
  </ul>
</nav>
