<% content_for(:extra_body_classes, 'background-light') %>
<%= render 'filter' %>
<div class="wrap" id="home">
    <div class="content container-fluid">
      <div id="campaigngroup">
      <% @campaigns.in_groups_of(4, false).each do |group| %>
        <div class="row-fluid">
        <% group.each do |campaign| %>
          <%= render campaign %>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class="text-align-center widget">
      <%= will_paginate @campaigns %>
    </div>
  </div>
</div>
