<% content_for(:extra_body_classes, 'background-light') %>
<%= render 'filter' %>
<div class="wrap" id="home">
    <div class="content container-fluid">
      <div id="campaigngroup">
        <%= render @campaigns %>
      </div>
    </div>
    <%= will_paginate @campaigns %>
</div>
