<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav pull-right">
    	<li><%= link_to 'Musicians', page_path('musicians') %></li>
		<li><%= link_to 'Fans', page_path('fans') %></li>
      	<li><%= link_to 'About', page_path('about') %></li>
		<li><%= link_to 'Privacy', page_path('privacy') %></li>
    </ul>
  </div>
</div>