<li class="active hidden-phone">
  <%= link_to music_path do %>
    <i class="icon-heart"></i> Music
   <% end %>
</li>
<li class="active introhome">
  <%= link_to user_omniauth_authorize_path(:facebook, origin: music_path) do %>
    &nbsp;<i class="icon-facebook"></i> login&nbsp;
  <% end %>
</li>
