
 <ul class="nav pull-right">
                    <li class="divider"></li>
                    <li>
                      <a href="#hello" data-toggle="modal"><i class="fui-heart"></i> signup</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fui-user"></i> login
                      </a>
                      <ul class="dropdown-menu">
                      <div class="formhome">
                        <%= simple_form_for("user", :url => user_session_path) do |f|  %>
                        <%= f.input :email, placeholder: "email", required: true, label: false %></br>
                         <%= f.input :password, placeholder: "password", required: true, label: false %></br>
                        <%= f.submit "login", class: "btn btn-info btn-block" %>
                        <% end %>
                      </div>
                      </ul>
                    </li>
              </ul>

         

